*{
    background-color: rgb(195, 195, 226);
}


.navbar{
    padding-left: 85%;
    word-spacing:5px ;
    
}

#lang{
    background-color: black;
    color: white;
    padding: 10px;
}

.navbar button{
    padding: 10px;
    background-color: red;
    color: white;
}

.prgs{
    margin-top: 6%;
    text-align: center;
    justify-content: center;
}

.mov{
    margin-left: 7%;
}

.box{
    width: 250px;
    height: 300px;
    border: 1px solid red;
   margin-left: 1%;
    margin-top: 1%;
    border-radius: 10%;
    position: relative;
    display: inline-block;
    
}
.box:hover{
   transform:scale(1.05) ; 
}

.resn-join{
    text-align: start;
    margin-left: 7%;
}

.box-cont{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: flex-start;
    gap: 1%;
    margin-top: 2%;
    
}

.box1{
    width: 300px;
    height: 300px;
    border: 1px solid red;
    margin-left: 1%;
    margin-top: 1%;
    border-radius: 10%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}