*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* .parent{
    width:1500px;
    height: 600px;
    border: 1px solid red;
    display: flex;
    flex-direction: column;
    justify-content:start;
    align-items:start;
    flex-wrap: wrap;
    column-gap: 25px;
    row-gap: 20px;
}
.box{
    width: 150px;
    border: 1px solid blue;
    padding: 15px;
    margin-left: 10px;
    padding-left: 40px;
    
} */

.parent{
    width: 1000px;
    height: 1000px;
    border: 1px solid green;
    display: flex;
    flex-direction:column ;
    align-items:center;
    justify-content:space-evenly;
    
}

.box{
    width: 150px;
    /* height: 25px; */
    border: 1px solid red;
    /* padding-left: 10%; */
    padding-top: 1%;
    padding-bottom: 1%;
    text-align: center;
    text-transform: uppercase;
    
}
